@{
    ViewData["Title"] = "About Page";
}

<!-- jumbotron -->
<div class="jumbotron text-center" style="background-color:white;">
    <h1 class="display-4" style="background-color:white;">Our Process</h1>
    <h2>From start to finish</h2>
</div>
<!-- top image -->
<div class="aboutImg text-center">
    <img src="http://d2ck0sxsjau14o.cloudfront.net/wp-content/uploads/2018/04/man-drinking-coffee.jpg" alt="coffee" width="100%%" />
    <h3>Why We Taste So Good</h3>
    <em>"Punn intended"</em>
</div>
<!-- scaffolding -->
<div class="spacer">
    <div class="container explained">
        <div class="row">
            <div class="col-md-6">
                <div class="blue-1">
                    <span>1</span> <i class="fas fa-arrow-right"></i>
                    <h1>First Step</h1>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
                </div>
            </div>
            <div class="col-md-6">
                <div class="red-1">
                    <span>2</span> <i class="fas fa-arrow-right"></i>
                    <h1>Second Step</h1>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="blue-2">
                    <span>3</span> <i class="fas fa-arrow-right"></i>
                    <h1>Third Step</h1>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
                </div>
            </div>
            <div class="col-md-6">
                <div class="red-2">
                    <span>4</span> <i class="fas fa-arrow-right"></i>
                    <h1>Fourth Step</h1>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
                </div>
            </div>
        </div>
    </div>
</div>
  </div>